<%- include("../common/metadata.ejs") %>
    <%- include("../common/header.ejs") %>

        <div class="border border-1 mx-auto mt-5 col-md-4 col-10" style="height: 450px;">
            <h3 class="m-5 fw-bolder">Forgot Password</h3>
            <b>
                <p class="mx-5 text-secondary">Don't worry, just enter your email address and we will setup a new
                    password in no time!
                </p>
            </b>
            <form id="forgotPwd" method="POST">
                <label class="form-label mx-5 fw-bold mt-3">Enter email:</label>
                <input type="text" name="email" class="form-control w-75 mx-5 mt-3 shadow-none rounded-0" />
                <button type="submit" onclick="submitForm()"
                    class="mx-5 btn-primary rounded-0 shadow-none px-4 py-2 mt-5">Submit</button>
            </form>
        </div>
        
        <%- include("../common/metadatabottom.ejs") %>



        <script>
            function submitForm() { 
                let forgotPwd = document.getElementById("forgotPwd");
                forgotPwd.action = window.location.href
            }

        </script>