<%- include("../common/metadata.ejs") %>
    <%- include("../common/header.ejs") %>


        <div class="row w-100 p-4">


            <div class="col-md-3 mt-3">
                <a class="text-decoration-none" href="release-notification">
                    <div class="d-flex flex-column justify-content-center align-items-center"
                        style="height: 100px; border-radius: 15px; border: 1px solid rgba(60,64,67,0.15); box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px rgb(60 64 67 / 15%);">
                        <img src="https://img.icons8.com/clouds/48/000000/appointment-reminders--v1.png">
                        <p class=" text-dark fw-bold">Release Notification</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 mt-3">
                <a class="text-decoration-none" href="view-all-jobs">
                    <div class="d-flex flex-column justify-content-center align-items-center"
                        style="height: 100px; border-radius: 15px; border: 1px solid rgba(60,64,67,0.15); box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px rgb(60 64 67 / 15%);">
                        <img src="https://img.icons8.com/color/48/000000/find-matching-job.png">
                        <p class=" text-dark fw-bold">All Jobs</p>
                    </div>
                </a>
            </div>


            <div class="col-md-3 mt-3">
                <a class="text-decoration-none" href="approve-pending-jobs">
                    <div class="d-flex flex-column justify-content-center align-items-center"
                        style="height: 100px; border-radius: 15px; border: 1px solid rgba(60,64,67,0.15); box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px rgb(60 64 67 / 15%);">
                        <img src="https://www.gstatic.com/jolonto/resources/static/images/interests/administrative.svg">
                        <p class=" text-dark fw-bold">Approve Jobs</p>
                    </div>
                </a>
            </div>


            


             

            <div class="col-md-3 mt-3">
                <a class="text-decoration-none" href="approve-pending-jobs">
                    <div class="d-flex flex-column justify-content-center align-items-center"
                        style="height: 100px; border-radius: 15px; border: 1px solid rgba(60,64,67,0.15); box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px rgb(60 64 67 / 15%);">
                        <img src="https://img.icons8.com/office/48/000000/search-client.png" />
                        <p class=" text-dark fw-bold">Search Student / HR</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 mt-3">
                <a class="text-decoration-none" href="approve-pending-jobs">
                    <div class="d-flex flex-column justify-content-center align-items-center"
                        style="height: 100px; border-radius: 15px; border: 1px solid rgba(60,64,67,0.15); box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px rgb(60 64 67 / 15%);">
                        <img src="https://img.icons8.com/doodle/48/000000/search--v1.png" />
                        <p class=" text-dark fw-bold">Search Job</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 mt-3">
                <a class="text-decoration-none" href="approve-pending-jobs">
                    <div class="d-flex flex-column justify-content-center align-items-center"
                        style="height: 100px; border-radius: 15px; border: 1px solid rgba(60,64,67,0.15); box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px rgb(60 64 67 / 15%);">
                        <img src="https://img.icons8.com/bubbles/60/000000/email--v1.png" />
                        <p class=" text-dark fw-bold">Send personal mail</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 mt-3">
                <a class="text-decoration-none" href="approve-pending-jobs">
                    <div class="d-flex flex-column justify-content-center align-items-center"
                        style="height: 100px; border-radius: 15px; border: 1px solid rgba(60,64,67,0.15); box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px rgb(60 64 67 / 15%);">
                        <img src="https://img.icons8.com/plasticine/48/000000/filled-trash.png"/>
                        <p class=" text-dark fw-bold">Revoke Job</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 mt-3">
                <a class="text-decoration-none" href="approve-pending-jobs">
                    <div class="d-flex flex-column justify-content-center align-items-center"
                        style="height: 100px; border-radius: 15px; border: 1px solid rgba(60,64,67,0.15); box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px rgb(60 64 67 / 15%);">
                        <img src="https://img.icons8.com/doodle/48/000000/add.png"/>
                        <p class=" text-dark fw-bold">Add Batch</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 mt-3">
                <a class="text-decoration-none" href="approve-pending-jobs">
                    <div class="d-flex flex-column justify-content-center align-items-center"
                        style="height: 100px; border-radius: 15px; border: 1px solid rgba(60,64,67,0.15); box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px rgb(60 64 67 / 15%);">
                        <img src="https://img.icons8.com/dusk/48/000000/feedback.png"/>
                        <p class=" text-dark fw-bold">Feedbacks</p>
                    </div>
                </a>
            </div>


        </div>





        <%- include("../common/metadataBottom.ejs") %>