<div id="footer" class="row w-100">

    <div id="footer-links" class="col-md-4 ">
        <h3 class="text-center">Important</h3>
        <ul class="list-unstyled">
            <a href="#">
                <li>Home</li>
            </a>
            <a href="#">
                <li>Contact Us</li>
            </a>
            <a href="#">
                <li>About Us</li>
            </a>
            <a href="#">
                <li>Disclaimer</li>
            </a>
            <a href="#">
                <li>Privacy Policy</li>
            </a>
        </ul>
    </div>
    <div id="footer-links" class="col-md-4">
        <h3 class="text-center">Important</h3>
        <ul class="list-unstyled">
            <a href="#">
                <li>Downloads</li>
            </a>
            <a href="#">
                <li>Terms & Conditions</li>
            </a>
            <a href="#">
                <li>Sitemap</li>
            </a>
            <a href="#">
                <li>Careers</li>
            </a>
            <a href="#">
                <li>Report a bug</li>
            </a>
        </ul>
    </div>
    <div id="footer-links" class="col-md-4 px-5 " style="margin-top: 60px;">
        <h3 class="mb-4 text-center">Address</h3>
        <div class="d-flex justify-content-center align-items-center">
            <address>
                Developed by <a href="mailto:jsaurabh1122@gmail.com">Saurabh Jaiswal</a><br>
                Visit us at:<br>
                <a href="http://ecc.ac.in">Ewing Christian College</a><br>
                Prayagraj, Uttar Pradesh<br>
                India
            </address>
        </div>
    </div>

    <hr>
    <div class="d-md-flex justify-content-between">
        <p class="mx-4">Copyright © 2021 - 2022 All rights reserved.
        </p>
        <p class="mx-4">
            Developed with ❤️ by Saurabh, Sachin, Ashish, Vaibhav
        </p>
    </div>
</div>