<div id="heroMain" class="row w-100">
  <div class="col-md-6" style="height: 500px;">
    <div class="mt-5 pt-4" style="height: 300px;">
      <h1 id="typingText" class="display-2 px-5" style="font-weight: 800;">
        Welcome to <br> T&P portal of <br><b>ECC.</b>
      </h1>
    </div>
    <a href="/student-login"><button class="mx-5 mt-md-3 btn btn-outline-dark rounded-0 border-3 shadow-none"
        style="font-weight: 800;">Login As
        Student</button></a>
    <a href="/hr-login"><button class="mx-5 btn mt-3 btn-outline-dark rounded-0 border-3 shadow-none"
        style="font-weight: 800;">Login As
        HR</button></a>
  </div>
  <div id="hero" class="col-md-6 d-none d-md-block" style="height: 500px;">
    <div>
      
    </div>
  </div>
</div>