<div id="notifications" class="">
    <div id="notifHeading" class="d-flex justify-content-center align-items-center">
        <h1 class="text-center display-3" style="font-weight: 800;">Notifications</h1>
    </div>
    <div id="notifWrapper" class="border border-1 w-75 mt-5 mx-auto" style="border-radius: 10px;">
        <div class="notifContainer">
            <p class="topic">M. SC. PHYSICS EXAMINATION SCHEDULE</p>
            <p class="info">Hello guys this is some basic information about bloger</p>
        </div>
    </div>

</div>

