<div class="row w-100" style="margin: 0;" >
    <div id="teamImage" class="col-md-6" style="height: 500px;"></div>
    <div class="col-md-6" style="height: 500px;">
        <h1 class="text-center mt-5 display-3" style="font-weight: 800;">Our Team</h1>
        <p style="text-align: justify; line-height: 28px; letter-spacing: 1px; margin: 0 30px;" class="pt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.</p>
    </div>
</div>